<%- include('layouts/header.ejs') %>

      <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h3 class="mb-3">Work Experience</h3>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h3>H-E-B</h3>
                            <h4>Software Engineer Intern</h4>
                            <div><string>May 2022 - Curent</string></div>
                            Intern as a back-end engineer for the customer facing applications team.
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">AWS Services</li>
                            <li class="list-group-item">Elastic Stack</li>
                            <li class="list-group-item">Java</li>
                            <li class="list-group-item">Python</li>
                    </div>
                </ul>
                </div> 
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h3>H-E-B</h3>
                            <h4>Perishables Rep- Produce</h4>
                            <div><string>May 2019 - May 2022</string></div>
                            Work within the produce department in order to stock product.
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Conflict Resolution</li>
                            <li class="list-group-item">Task Communication</li>
                    </div>
                </ul>
                </div> 
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h3>H-E-B</h3>
                            <h4>Customer Service Rep</h4>
                            <div><string>May 2017 - May 2019</string></div>
                            Bag groceries, push carts, and tend to customer needs.
                        </div>
                        <ul class="list-group list-group-flush mt-2">
                            <li class="list-group-item">Conflict Resolution</li>
                            <li class="list-group-item">Social Skills</li>
                    </div>
                </ul>
                </div> 
            </div>
            <div class="col">
                <h3>Skills</h3>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Java</h4>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Python</h4>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>Git</h4>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>MySQL</h4>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>AWS</h4>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>ElasticStack</h4>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mx-3">
                            <h4>GraphQL</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <br>
      <br>
      <br>
