<%- include('layouts/header.ejs') %>
<div class="container my-3">
  <div class="row">

    <div class="col-sm-3">
      <div class="image">
        <img class="hoverimage" src="img/projects/Space_invaders_alien.webp" alt="space invaders"/>
        <div class="hoveroverlay">
          <div class="overlaytitle">Alien Invasion</div>
          <p class="overlaydescription">
            Desktop game built in python using pygame library modeled after retro game: Space Invaders</p>         
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="image">
        <img class="hoverimage" src="img/projects/movie_ticket.jpeg" alt="movie ticket"/>
        <div class="hoveroverlay">
          <div class="overlaytitle">Movie Ticket Purchaser</div>
          <p class="overlaydescription">
            Android application build in java to view and purchase movie tickets for current showings</p>         
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="image">
        <img class="hoverimage" src="img/projects/tipcalc.png" alt="tip calculator"/>
        <div class="hoveroverlay">
          <div class="overlaytitle">Tip Calculator</div>
          <p class="overlaydescription">
            Android application used to calculate tips on bills by using user input</p>         
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="image">
        <img class="hoverimage" src="img/projects/ebay.jpeg" alt="ebay scrapper"/>
        <div class="hoveroverlay">
          <div class="overlaytitle">Ebay Scrapper</div>
          <p class="overlaydescription">
            Python script to scrape data from ebay to evaluate data of prices</p>         
        </div>
      </div>
    </div>

  </div>
</div>
